body {
    transition: all 0.3s ease;
  }
  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: red;
    margin: 50px;
  }
  .prescription_form {
    background: white;
    height: 100%;
  }
  hr {
    margin: 10px 0px;
    border: 1px solid #111;
}
  .prescription {
    width: 720px;
    height: 960px;
    margin: 0 auto;
    border: 1px solid #111;
  }
  .prescription tr > td {
    padding: 15px;
    background-color: aliceblue;
  }
  .header {
    color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .credentials {
    flex: 1;
  }
  .credentials h4 {
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }
  .credentials p {
    margin: 0 0 5px 0;
    padding: 3px 0px;
  }
  .credentials small {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-right: 80px;
  }
  .d-header {
    width: 62%;
    text-align: center;
    padding: 4px;
    font-weight: 400;
    margin-left: -9px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    color: brown;
}
.d-header1 {
  width: 62%;
  text-align: center;
  padding: 4px;
  font-weight: 400;
  margin-left: -51px;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  color: #333399;
}
.d-header2 {
  width: 62%;
  text-align: center;
  padding: 4px;
  font-weight: 400;
  margin-left: -45px;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}

  .symptoms,
  .tests,
  .advice {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .symptoms ul,
  .tests ul {
    list-style: square;
    margin: 0;
    padding-left: 98px;
    height: 100%;
  }
  .advice p {
    letter-spacing: 0;
    font-size: 14px;
  }
  .advice .adv_text {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

.header-section {
    margin-top: 87px;
    margin-left: 187px;
    align-content: center;

}
p {
  font-size: 13px;
  white-space: nowrap;
  line-height: 4px;
}

.sub-menu {
  margin-top: 35px;
}
.menu {
  margin-top: 28px;
}
  
  .desease_details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18px;
  }
  .med_name {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
  }
  .taking_time {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
  }
  .schedual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sc_time {
    margin: 0;
    padding: 0;
    float: left;
  }
  .sc_time span {
    font-weight: bold;
    margin-right: 1rem;
  }
  .sc {
    border: none;
    outline: none;
    font-size: 15px;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    font-size: 15px;
    color: #335;
    position: relative;
    float: left;
    overflow: hidden;
  }
  select {
    font-weight: bold;
    padding: 0 0.5em;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  .med_name {
    border: 0;
    outline: 0;
  }
  .period {
    font-size: 14px;
  }
  input[type="date"] {
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: none;
  }
  .medicine {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .med_name_action,
  .med_when_action,
  .med_period_action {
    display: none;
  }
  .med_meal_action .btn {
    margin: 2px;
  }
  .med_period {
    border: none;
    outline: none;
  }
  #add_med {
    margin: 20px 5px;
    flex-grow: 1;
  }
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
  margin-top: -116px;
  margin-left: 14p
}
.left-part {
    text-align: left;
    margin-left: 347px;
}
input#testInput {
  padding: -23px;
  height: 32px;
  margin-top: -30px;
  width: 179px;
  margin-left: 78px;
  border: none;
  display: block;
}
input#symInput {
  padding: -23px;
  height: 32px;
  margin-top: -6px;
  width: 179px;
  margin-left: 78px;
  border: none;
}
input#adviceInput {
  padding: -23px;
  height: 32px;
  margin-top: -6px;
  width: 179px;
  margin-left: 78px;
  border: none;
}
input.medicine-name {
  border: none;
}
button#add-card {
  margin-left: 1pc;
  margin-top: 6px;
}
.medicine-card {
  margin-top: 8px;
}
input#symptomsText {
  width: 291px;
  border: none;
}

button#add {
  width: 46px;
  height: -7px;
  margin-left: 20pc;
  margin-top: -33px;
}
button.btn.btn-sm.btn-danger.delete-btn {
  margin-left: 0pc;
}
li {
  display: inline-block;
  margin-left: 100px;
}
button.btn.btn-sm.btn-danger.deletes-btn {
  margin-left: 17pc;
}
button#add-item {
  width: 45px;
  height: 33px;
  margin-left: 20pc;
  margin-top: -33px;
}
input.symptoms-name {
  margin-top: 10px;
  border: none;
  margin-left: 6pc;
}
button.btn.btn-sm.btn-success.save-btn {
  margin-left: 14pc;
  width: 53px;
  height: 29px;
  padding: 6px;
  font-size: 14px;
}

.line-2 {  
    width: 2px;
    background-color: #000;
    height: 350px;
    position: absolute;
    margin-top: 15px;
    margin-left: 458px;
}

p.list-1 {
  display: block;
  float: right;
  padding: 5px;
  margin-top: -27px;
  margin-right: 89px;
}
p.list-2 {
  display: block;
  float: right;
  padding: 5px;
  margin-top: -27px;
  margin-right: -175px;
}
p.list-3 {
  display: block;
  float: left;
  padding: 5px;
  margin-right: -163px;
  margin-top: -4px;
}
p.list-4 {
  display: block;
  float: left;
  padding: 5px;
  margin-top: -4px;
  margin-left: 129px;
}
p.list-5 {
  display: block;
  float: left;
  padding: 5px;
  margin-top: -5px;
  margin-left: 17px;
}
p.menu-p {
  padding: 2px;
  font-size: 13px;
}
li {
  display: inline-block;
}
.list-items {
  margin-left: -152px;
}

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
    95% {
      opacity: 0;
    }
  }
p.adv_text {
    padding-left: 83px;
}
  
  #add_symptoms {
    margin: 20px 5px;
    flex-grow: 1;
    opacity: 1;
  }
  .symp_action,
  .test_action,
  .adv_action {
    display: none;
    margin-left: 78px;
    line-height: 50px;
  }
ul.symp {
    height: 50px;
    list-style: square;
}
ul.tst {
    height: 50px;
    list-style: square;
}
p.adv_text {
    height: 50px;
}
  .med_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  hr {
    margin: 10px 0px;
  }
  .med:hover hr {
    border-top: 3px #111 solid;
  }
  .med_period_action {
    float: right;
  }
  span.date {
    color: #333399;
    float: right;
    clear: both;
  }
  .del_action {
    width: 100%;
    text-align: right;
  }
  .delete {
    width: 50px;
    opacity: 0;
    display: none;
  }
  .med:hover .delete {
    display: inline;
    opacity: 1;
  }
  .folded {
    visibility: hidden;
  }
  .button_group {
    position: absolute;
    right: 686px;
    margin-top: 23px;
  }
  #snacking, #snacked {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
input#testInput {
    padding: -23px;
    height: 32px;
    margin-top: 4px;
    width: 179px;
    margin-left: 100px;
    border: none;
}

.form-group {
    margin-bottom: 2px;
} 
  #snacking.show, #snacked.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  .ui-menu li{
    display: block !important;
    position: relative;
    margin-left: 20px;
  
  }

  .ui-menu li {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .ui-menu li div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    width: 180px;
  }
  
  /*when hovering an item:*/
  .ui-menu li div:hover {
    background-color: #e9e9e9; 
  }
  
  
  